:root {
    --header-height: 55px;
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);

}

.leaflet-container {
    height: calc(100vh - var(--header-height));
    width: 100vw;
}

header {
    height: calc(var(--header-height) - 1px);
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 80px;
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    tab-index: -1;
}

header img {
    transform: translateY(2px);
}

header h1, header h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header h2 {
    font-size: 14px;
    margin-top: 4px;
    color: #555;
}

.social-link {
    justify-self: flex-end;
    margin-left: auto;
}

.social-link a {
    color: #0088cc
}